body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/*Header*/

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
}
header img {
  height: 50px;
  padding-left: 10px;
}
nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 20px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
a {
  cursor: auto;
  color: seashell;
  text-decoration: underline;
}

/*Main Content*/

.content-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
}
.mission {
  display: flex;
  justify-content: center;
}
.mission .image-content {
  align-content: center;
  justify-content: center;
  background-image: url(../photos/mission-background.jpg);
  margin-top: 69px;
  min-width: 1200px;
  height: 700px;
}
.stripe {
  flex-direction: column;
  background-color: black;
  align-item: center;
  z-index: 5;
}
